log
venv
test
.vscode
*.pyc
rx_data/*.*.*.*
330.xcf
*.copy
*.backup
rss
tx_transmit_log
address/rx_ip_host.txt
tx_log
training/cov
training/hypothesis
training/sensors
training/visualize
rsstmp
gps
gps_raw
misc/*.ipynb
*.ipynb_checkpoints
rx_data/9.8
tx_realtime_log
tx_test_log
tx_train_log
*/9.19.2
*/*.inter-2
*/*.inter-sub
misc/outdoor-sensors*
*.timeunsync
results/10.12.log
rx_data/10.16
results/10.13*
file_receive
file_receive.yes
training/su_pu
training/su_ss
pu_info/pu
file_transmit
.DS_Store